<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Login</title>
	<link rel = "stylesheet" type="text/css" href="{{ url_for('static', filename='css/loginstyle.css') }}">
	<link rel="icon" href = "{{ url_for("static", filename = "citty.ico")}}" type = "images/x-icon">

</head>
<body>
	<div class="login-wrap">
		<transition name="component-fade">
			<form method="post" action="/signup">
				<label class= "tab ">Create your account</label>
				<div class="hr"></div>
				
				<div class="input-group">
					<input id="username"  class="input" placeholder="username" >
		  		</div>
		  		<div class="input-group">
					<input id="pass" type="password" class="input" data-type="password"  placeholder="password">
				</div>  
				    
				<button type="submit" >Sign Up</button>
				<div class="hr"></div>
			
				<label for="tabSignningin"class ="tab"> Already have an account?     <a href="/signin" class="tab">    Sign In </a></label>
			</form>
	</transition >
	
</div>
<img src="{{ url_for("static", filename="pusheen.png") }}"  align="right" alt="тут мав бути котик">
</body>
</html>