<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Login</title>
	<link rel = "stylesheet" type="text/css" href="{{ url_for('static', filename='css/loginstyle.css') }}">

	<link rel="icon" href = "{{ url_for("static", filename = "citty.ico")}}" type = "images/x-icon">

</head>
<body>
	<div class="login-wrap">
		<transition name="component-fade">
			<form action="/signin" method="post">
				<label class="tab">Welcome Back!</label>
				<div class="hr"></div>
				<div class="input-group">
					<input type="text" class="input" name="username" placeholder="username">
				</div>
				<div class="input-group">
					<input id="pass" type="password" name="password" placeholder="password" class="input">
				</div>
				<input type="submit" class="signbtn" value="Sign In">
				<div class="hr"></div>
				<label for="tabRegistration" class="tab">Don't have an account?<a href="/signup" class="tab">Sign Up</a></label>
			</form>
		</transition>
	</div>
	<img src="{{ url_for("static", filename="pusheen.png") }}"  align="right" alt="тут мав бути котик">
</body>
</html>