<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <title>Document</title>
</head>
<body>
    <script type="text/javascript">
        let data = {"data": "Remember the Milk"}

        $.ajax({
            type: 'PUT',
            url: 'http://localhost:5000/api/4',
            data: JSON.stringify(data),
            contentType: 'application/json',
            success: resp => {
                console.log(resp)
            }
        })
    </script>
</body>
</html>