<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>Document</title>
</head>
<body>
    <button onclick="searchsong()">click</button>
    <audio controls><source src="http://localhost:8080/api/serve_song/szZkyZPsiqY" type="audio/mpeg"></audio>
    <ul id = "list">
        <li></li>
    </ul>
    <script>

        axios.get('/api/add_song/'+songid)
    </script>
    <script type="text/javascript">
        

    /*function searchsong(){
        console.log("ggg")
        var s = "Lil Peep"
        
        axios.get('/api/search/'+s)
        
        .then(resp => {
            console.log(resp)
            var parent = document.getElementById('list');  
            var i ;
            for (i = 0; i <= 15; i++) {
                var listelement = document.createElement('li');
                listelement.id = "songID"+i;
                listelement.innerHTML=resp.data.result[i].title;
                parent.appendChild(listelement);
            }
        })
        .catch(err => {
            console.log(err)
        })
    }*/
    </script>
</body>
</html>